# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credentials / secrets
*.pem
secrets.auto.tfvars

# OS junk
Thumbs.db
.DS_Store

# Editor
.vscode/
*.swp
